node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
attached_assets/Captura de Tela 2025-04-22 às 13.44.14.png
attached_assets/Captura de Tela 2025-04-22 às 13.44.14.png
attached_assets/Captura de Tela 2025-04-22 às 13.44.14.png
